# Ignorar claves de Firebase locales
transporte-escolar-543e8-firebase-adminsdk-fbsvc-b7052cac65.json

# Ignorar configuraciones locales
.env

# Ignorar entornos virtuales
env/
venv/

# Ignorar archivos temporales
__pycache__/
*.pyc
*.pyo
*.log

# Ignorar archivos del sistema
.DS_Store
